---
dotfiles_install: True
dotfiles_repo: https://raw.githubusercontent.com/nickmaccarthy/dotfiles/master
dotfiles_items:
    - bash_profile
    - vimrc
    - kuberc

default_shell: /bin/zsh

zsh:
  theme: "rkj-repos"
  plugins:
    - git 
    - ansible 
    - terraform 
    - virtualenv 
    - pip 
    - osx 
    - kubectl 
    - helm 
    - docker 
    - aws 
    - vault

additional_brew_base_items:
  - openssl
  - vim
  - git
  - wget
  - htop
  - node
  - golang
  - jq
  - sops
  - pyenv
  - pyenv-virtualenv
  - nmap
  - mysql-client
  - kubectx
  - tree 
  - watch 
  - awscli
  - helmfile
  - terragrunt
  - bash-completion@2
  - gpg 
  - blackbox
  - gnu-tar
  - zsh-completions

additional_brew_cask_items:
  - visual-studio-code
  - skitch
  - docker
  - iterm2
  - alfred
  - slack
  - sublime-text
  - postman
  - drawio

# Kubectl things
kubectl_versions:
  - '1.17.14'
  - '1.18.14'

kubectl_default_version: '1.17.14'

# Kops things
kops_versions:
  - 1.16.4

kops_default_version: 1.16.4

# helm things
helm_versions:
  - 3.3.1
  - 3.4.2

helm_default_version: 3.4.2

# Terraform things
terraform_versions:
  - 0.14.0
  - 0.14.8
  - 0.15.3

terraform_default_version: "0.15.3"

# Vault things
vault_versions:
  - "1.7.1"
  - "1.6.3"
  
vault_default_version:  "1.7.1"
