- name: Check to see if we have Consolas fonts alreay installed
  stat:
    path: ~/Library/Fonts/CONSOLA.TTF
  register: f
  tags: consolas

- name: Create temp Consols dir
  file:
    path: /tmp/consolas
    state: directory
  when: not f.stat.exists
  tags: consolas

- name: Download Consolas
  get_url:
      url: http://download.microsoft.com/download/f/5/a/f5a3df76-d856-4a61-a6bd-722f52a5be26/PowerPointViewer.exe
      dest: /tmp/consolas
  tags: consolas
  when: not f.stat.exists

- name: Extract PowerPointViewer.exe
  shell: cd /tmp/consolas && cabextract /tmp/consolas/PowerPointViewer.exe
  tags:
    - consolas
    - consolas-extract
  when: not f.stat.exists

- name: cabextract ppviewer.cab
  shell: cd /tmp/consolas && cabextract /tmp/consolas/ppviewer.cab
  tags:
    - consolas
    - consolas-extract
  when: not f.stat.exists

- name: Move font files to fonts folder
  shell: mv /tmp/consolas/CONSOLA*.TTF ~/Library/Fonts
  when: not f.stat.exists
  tags: consolas

- name: Clean up after ourselves
  file:
    path: /tmp/consolas
    state: absent
  tags: consolas 
