- include: osx.yml
  tags: osx

- include: zsh.yml 
  when: 
    - default_shell is defined and 'zsh' in default_shell

- include: mseries.yml
  tags: mseries 
  when: 'ansible_architecture == "arm64"'

- include: homebrew.yml
  tags: homebrew

- include: dotfiles.yml
  tags: dotfiles
  
- include: pip.yml
  tags: pip

- include: kubectl.yml
  tags: kubectl
  when: kubectl_versions is defined

- include: kops.yml
  tags: kops
  when: kops_versions is defined

- include_tasks: helm.yml
  vars:
    release: "{{ item }}"
  tags: helm
  loop: "{{ helm_versions }}"
  loop_control:
    label: "{{ item }}"
  when: helm_versions is defined

- include_tasks: terraform.yml
  vars:
    release: "{{ item }}"
  tags: terraform 
  loop: "{{ terraform_versions }}"
  loop_control:
    label: "{{ item }}"
  when: terraform_versions is defined

- name: set default terraform version
  file:
    state: link
    src: "{{ homebrew_path }}/terraform-{{ terraform_default_version }}"
    dest: "{{ homebrew_path }}/terraform"
  when: terraform_default_version is defined
  tags:
    - terraform
    - terraform-default

- include_tasks: vault.yml 
  vars:
    release: "{{ item }}"
  loop: "{{ vault_versions }}"
  loop_control:
    label: "{{ item }}"
  when: vault_versions is defined
  tags:
    - vault

- name: "Set default Vault to {{ vault_default_version }}"
  file:
    src: "{{ homebrew_path }}/vault-{{ vault_default_version }}"
    dest: "{{ homebrew_path }}/vault"
    state: link
  when: 
    - vault_default_version is defined
    - vault_default_binary.stat.exists
  tags:
    - vault