- include: osx.yml
  tags: osx

- include: dotfiles.yml
  tags: dotfiles

- include: homebrew.yml
  tags: homebrew

- include: pip.yml
  tags: pip

- include: kubectl.yml
  tags: kubectl
  when: kubectl_versions is defined

- include: kops.yml
  tags: kops
  when: kops_versions is defined

- include_tasks: helm.yml
  vars:
    release: "{{ item }}"
  tags: helm
  loop: "{{ helm_versions }}"
  loop_control:
    label: "{{ item }}"
  when: helm_versions is defined

- include_tasks: terraform.yml
  vars:
    release: "{{ item }}"
  tags: terraform 
  loop: "{{ terraform_versions }}"
  loop_control:
    label: "{{ item }}"
  when: terraform_versions is defined

- include_tasks: vault.yml 
  vars:
    release: "{{ item }}"
  loop: "{{ vault_versions }}"
  loop_control:
    label: "{{ item }}"
  when: vault_versions is defined
  tags:
    - vault
